DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,jianglan.us,www.jianglan.us
CSRF_TRUSTED_ORIGINS=http://localhost,http://127.0.0.1,https://jianglan.us,https://www.jianglan.us
WAGTAILADMIN_BASE_URL=https://jianglan.us
TUSHARE_TOKEN=your_token_here
MARKET_LIVE_FETCH_ENABLED=1
POSTGRES_DB=trading_dashboard
POSTGRES_USER=trading_dashboard
POSTGRES_PASSWORD=change-me-db-password
POSTGRES_HOST=db
POSTGRES_PORT=5432
DJANGO_SETTINGS_MODULE=config.settings.production
